.app.dark {
  --bg-color: rgb(0, 0, 82);
  --inverted-bg-color: rgb(225, 225, 225);

  --primary-color: rgb(0, 123, 0);
  --secondary-color: rgb(0, 146, 0);
  --primary-inverted-color: rgb(8, 31, 120);
  --secondary-inverted-color: rgb(17, 57, 190);
}
